
        .My_table {
            width: 100%;
            border-collapse: collapse;
        }

        .My_table th, .My_table td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        .My_table th {
            background-color: #f2f2f2;
        }

        .My_table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .My_table tr:nth-child(odd) {
            background-color: #ffffff;
        }

        img {
            max-width: 50px;
            max-height: 50px;
        }
